.excluded-dealer-list {
    p {
        padding: 6px 0;
        font-weight: 400;
        color: get($am-colors-core, input-text);
    }

    select {
        width: 100%;
        border: 1px solid get($am-colors-core, bkg);
        border-radius: 2px;
        option {
            padding: 3px 7px;
        }
    }

    .how-to-text {
        font-size: 12px;
    }
}